<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="PasswordKeepR is a Password management that’s good for your business, your team, and for you. Improve passwords, productivity, and peace of mind—all with PasswordKeepR"
    />

    <!-- Always include this line of code!!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="img/favicon.png" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Styling  -->
    <link rel="stylesheet" href="/styles/general.css" />

    <link rel="stylesheet" href="/styles/dashboard.css" />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
    <script defer src="js/script.js"></script>


    <title>PasswordKeepR &mdash; Never forget your password again!</title>
  </head>
  <body>
    <%- include ("./partials/_logout") %>
    <section class="section-cta" id="cta">
      <div class="container">
        <div class="cta">
          <div class="cta-text-box">
            <h2 class="heading-secondary">Add Organization</h2>
            <form class="cta-form" action="/api/users/dashboard" method="POST" name="sign-up">
              <div>
                <label for="organization-name">Name</label>
                <input
                  id="name"
                  type="text"
                  placeholder="name"
                  name="name"
                  required
                />
              </div>
              <div>
                <label for="organization-link">Domain</label>
                <input
                  id="email"
                  type="email"
                  placeholder="me@example.com"
                  name="domain"
                  required
                />
              </div>
              <div>
                <label for="email">Username</label>
                <input
                  id="email"
                  type="email"
                  placeholder="me@example.com"
                  name="username"
                  required
                />
              </div>
              <div>
                <label for="assword">Password</label>
                <input
                  id="password"
                  type="text"
                  placeholder="me@example.com"
                  name="site_password"
                  required
                />
              </div>
                <button class="btn btn--form">Add</button>
            </form>
          </div>

        </div>
      </div>
    </section>

    <!-- Dashboard for Generating Password -->
    <section class="section-cta" id="cta">
      <div class="container">
        <div class="cta">
          <div class="cta-text-box">
            <h2 class="heading-secondary">Generate Password</h2>
        <div class="cta-form">
      <div>
      <h2>Result</h2>
      <div class="result-container">
        <input type="text" id="result">
        <button class="btn btn--form" id="clipboard">Copy
        </button>
      </div>
      </div>
      <div class="settings">
        <div class="setting">
          <label>Password length</label>
          <input type="number" id="length" />
        </div>
        <div class="setting">
          <label>Include uppercase letters</label>
          <input type="checkbox" id="uppercase" checked />
        </div>
        <div class="setting">
          <label>Include lowercase letters</label>
          <input type="checkbox" id="lowercase" checked />
        </div>
        <div class="setting">
          <label>Include numbers</label>
          <input type="checkbox" id="numbers" checked />
        </div>
        <div class="setting">
          <label>Include symbols</label>
          <input type="checkbox" id="symbols" checked />
        </div>
      </div>
      <button class="btn btn--form" id="generate">Generate password</button>
    </div>
    </div>         
    </section>

    <section class="section-meals" id="meals">
      <div class="container center-text">
        <span class="subheading">DASHBOARD</span>
        <h2 class="heading-secondary">PasswordKeepR</h2>
      </div>

      <div class="container grid grid--3-cols margin-bottom-md">
        <div class="meal">
          <img
            src="img/meals/amazon.png"
            class="meal-img"
            alt="Amazon image"
          />
          <div class="meal-content">
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>Username:</strong>Password</span>
              </li>
              <li class="meal-attribute">
                <button class=btn btn--outline" id="edit">Edit</button>
                <button class=btn btn--outline" id="Delete">Delete</button>
              </li>
            </ul>
          </div>
        </div>

        <div class="meal">
          <img
            src="img/meals/netflix.png"
            class="meal-img"
            alt="Amazon image"
          />
          <div class="meal-content">
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>Username:</strong>Password</span>
              </li>
               <li class="meal-attribute">
                <button class=btn btn--outline" id="edit">Edit</button>
                <button class=btn btn--outline" id="Delete">Delete</button>
              </li>
            </ul>
          </div>
        </div>

        <div class="meal">
          <img
            src="img/meals/facebook.png"
            class="meal-img"
            alt="Amazon image"
          />
          <div class="meal-content">
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>Username:</strong>Password</span>
              </li>
              <li class="meal-attribute">
                <button class=btn btn--outline" id="edit">Edit</button>
                <button class=btn btn--outline" id="Delete">Delete</button>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </section>
    
  </body>
  <script src="/scripts/passwordgenerator.js"></script>
</html>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Omnifood is an AI-powered food subscription that will make you eat healthy again, 365 days per year. It's tailored to your personal tastes and nutritional needs."
    />

    <!-- Always include this line of code!!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="img/favicon.png" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    /> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/styles/general.css" />
    <!-- <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/queries.css" /> -->
    <link rel="stylesheet" href="/styles/dashboard.css" />

    <!-- <link rel="stylesheet" href="/styles/style.css" type="text/css" /> -->

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
    <script defer src="js/script.js"></script>

    <title>PasswordKeepR &mdash; Never forget your password again!</title>
  </head>
  <body>
    <%- include ("./partials/_logout") %>
    <section class="section-cta" id="cta">
      <div class="container">
        <div class="cta">
          <div class="cta-text-box">
            <h2 class="heading-secondary">Account Configuration</h2>
            <form class="cta-form" name="sign-up" netlify>
              <div>
                <label for="change-password">Change Account Password</label>
                <input
                  id="change-password"
                  type="text"
                  placeholder="password"
                  name="password"
                  required
                />
              </div>
                <button class="btn btn--form">Submit</button>

              <!-- <input type="checkbox" />
                <input type="number" /> -->
            </form>
          </div>

        </div>
      </div>
    </section>
    <section class="section-cta" id="cta">
      <div class="container">
        <div class="cta">
          <div class="cta-text-box">
            <h2 class="heading-secondary">Add Organization</h2>
            <form class="cta-form" name="sign-up" netlify>
              <div>
                <label for="organization-name">Name</label>
                <input
                  id="email"
                  type="email"
                  placeholder="me@example.com"
                  name="email"
                  required
                />
              </div>
              <div>
                <label for="organization-link">Domain</label>
                <input
                  id="email"
                  type="email"
                  placeholder="me@example.com"
                  name="email"
                  required
                />
              </div>
              <div>
                <label for="email">Username</label>
                <input
                  id="email"
                  type="email"
                  placeholder="me@example.com"
                  name="email"
                  required
                />
              </div>
              <div>
                <label for="assword">Password</label>
                <input
                  id="password"
                  type="text"
                  placeholder="me@example.com"
                  name="email"
                  required
                />
              </div>

                <button class="btn btn--form">Add</button>

              <!-- <input type="checkbox" />
                <input type="number" /> -->
            </form>
          </div>

        </div>
      </div>
    </section>
    <section class="section-cta" id="cta">
      <div class="container">
        <div class="cta">
          <div class="cta-text-box">
            <h2 class="heading-secondary">Generate Password</h2>
            <form class="cta-form" name="sign-up" netlify>
              <div>
                <label for="Password-Length">Password Length</label>
                <input
                  id="length"
                  type="number"
                  min="4"
                  max="20"
                />
              </div>
              <div>
              </div>
              <div>
                <label for="Include-Uppercase">Include uppercase letters</label>
                <input class="cta-input"
                  id="uppercase"
                  type="checkbox"
                  checked
                />
                <label for="Include-Lowercase">Include Lowercase letters</label>
                <input class="cta-input"
                  id="lowercase"
                  type="checkbox"
                  checked
                />
                <label for="Include-Numbers">Include Numbers</label>
                <input class="cta-input"
                  id="numbers"
                  type="checkbox"
                  checked
                />

                <label for="Include-Symbols">Include Symbols</label>
                <input class="cta-input"
                  id="symbols"
                  type="checkbox"
                  checked
                />
                <label for="Password-Length">Results</label>
                <input
                  id="result"
                />
              </div>
                <button class="btn btn--form">Generate</button>

            </form>
          </div>
        </div>
      </div>
    </section>



    <section class="section-meals" id="meals">
      <div class="container center-text">
        <span class="subheading">DASHBOARD</span>
        <h2 class="heading-secondary">PasswordKeepR</h2>
      </div>

      <div class="container grid grid--3-cols margin-bottom-md">
        <div class="meal">
          <img
            src="img/meals/amazon.png"
            class="meal-img"
            alt="Amazon image"
          />
          <div class="meal-content">
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>Username:</strong>Password</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="meal">
          <img
            src="img/meals/netflix.png"
            class="meal-img"
            alt="Amazon image"
          />
          <div class="meal-content">
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>Username:</strong>Password</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="meal">
          <img
            src="img/meals/facebook.png"
            class="meal-img"
            alt="Amazon image"
          />
          <div class="meal-content">
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>Username:</strong>Password</span>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
>>>>>>> 7a9b54f1014fada097e4e7454451f9f2c1d811cb
