<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Omnifood is an AI-powered food subscription that will make you eat healthy again, 365 days per year. It's tailored to your personal tastes and nutritional needs."
    />

    <!-- Always include this line of code!!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="img/favicon.png" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/general.css" />
    <!-- <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/queries.css" /> -->
    <link rel="stylesheet" href="/styles/dashboard.css" />

    <!-- <link rel="stylesheet" href="/styles/style.css" type="text/css" /> -->

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
    <script defer src="js/script.js"></script>

    <title>PasswordKeepR &mdash; Never forget your password again!</title>
  </head>
  <body>
    <%- include ("./partials/_login") %>
    <section class="section-cta" id="cta">
      <div class="container">
        <div class="cta">
          <div class="cta-text-box">
            <h2 class="heading-secondary">Login</h2>
            <p class="cta-text">
              Simple, fast, and secured. Never forget your password again.
              PasswordKeepR secures your password all in one place
            </p>

            <form
              action="/login"
              method="POST"
              class="cta-form"
              name="sign-up"
              netlify
            >
              <div>
                <label for="email">Email</label>
                <input
                  id="email"
                  type="email"
                  placeholder="me@example.com"
                  name="email"
                  required
                />
              </div>
              <div>
                <label for="email">Password</label>
                <input
                  id="password"
                  type="password"
                  placeholder="me@example.com"
                  name="password"
                  required
                />
              </div>

              <button class="btn btn--form">Submit</button>

              <!-- <input type="checkbox" />
                <input type="number" /> -->
            </form>
          </div>
          <div
            class="cta-img-box"
            role="img"
            aria-label="Woman enjoying food"
          ></div>
        </div>
      </div>
    </section>
  </body>
</html>
